<div class="row">
  <div class="col-lg-12">
    <h1>Detalle producto</h1>
    <div class="py-3">
      <%= link_to  "Volver a productos", products_path, class: 'btn btn-primary font-weight-bold' %>
      <%= link_to  "Editar producto", edit_product_path(@product), class: 'btn btn-warning font-weight-bold' %>
      <%= link_to "Borrar producto", @product, method: :delete, class: 'btn btn-danger font-weight-bold' %>
      <%= link_to "Nuevo movimiento", new_movement_product_path(@product), class: 'btn btn-success font-weight-bold' %>
    </div>
    <div class="card">
      <table class="table">
        <tr>
          <td><b>Nombre del producto</b></td>
          <td><%= @product.name %></td>
        </tr>
        <tr>
          <td><b>Referencia del producto</b></td>
          <td><%= @product.reference %></td>
        </tr>
        <tr>
          <td><b>Descripcion del producto</b></td>
          <td><%= @product.description %></td>
        </tr>
        <tr>
          <td><b>Cantidad actual del producto</b></td>
          <td><%= @product.quantity_stock %></td>
        </tr>
        <tr>
          <td><b>Fecha de creacion del producto</b></td>
          <td><%= @product.created_at.strftime("%d-%m-%Y") %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="row py-3">
  <div class="col-lg-12">
    <h1>Movimientos</h1>
    <div class="card">
      <table class="table">
        <thead>
          <tr>
            <th>Tipo Movimiento</th>
            <th>Cantidad</th>
            <th>Comentairio</th>
            <th>Fecha Movimiento</th>
          </tr>
        </thead>
        <tbody>
          <% @product.movements.each do |movement|%>
            <tr>
              <td><%= movement.movement_type_name %></td>
              <td><%= movement.quantity %></td>
              <td><%= movement.comment %></td>
              <td><%= movement.created_at.strftime("%d-%m-%Y %H:%M") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
